<app-dialog>
  <div class="row justify-content-center my-auto" body>
    <div class="col-md-10 col-10 mb-4">
      <div class="bottom text-center">
        <h2 class="mb-0 mr-4 mt-2">To continue please Login or Sign up</h2>
      </div>

    </div>
    <div class="row mb-4">
      <button type="button" class="btn btn-success" (click)="signUp()">SIGN UP</button>
    </div>
    <div class="row px-3 mb-4">
      <div class="line"></div> <small class="or text-center">Or</small>
      <div class="line"></div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-outline-success" (click)="logIn()">LOG IN</button>
    </div>
  </div>
</app-dialog>